<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sempedia</display-name>
  <servlet>
    <servlet-name>SeedSearch</servlet-name>
    <servlet-class>web.SeedSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>web.AddClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddObject</servlet-name>
    <servlet-class>web.AddObject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObjectPage</servlet-name>
    <servlet-class>web.ObjectPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditObject</servlet-name>
    <servlet-class>web.EditObject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassPage</servlet-name>
    <servlet-class>web.ClassPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditClass</servlet-name>
    <servlet-class>web.EditClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditObjectText</servlet-name>
    <servlet-class>web.objects.EditObjectText</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditObjectName</servlet-name>
    <servlet-class>web.objects.EditObjectName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTriple</servlet-name>
    <servlet-class>web.triples.AddTriple</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditClassList</servlet-name>
    <servlet-class>web.objects.EditClassList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSuper</servlet-name>
    <servlet-class>web.classes.EditSuper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTriple</servlet-name>
    <servlet-class>web.triples.DeleteTriple</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteObjCla</servlet-name>
    <servlet-class>web.classes.DeleteObjCla</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProperty</servlet-name>
    <servlet-class>web.classes.AddProperty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditClassName</servlet-name>
    <servlet-class>web.classes.EditClassName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditClassText</servlet-name>
    <servlet-class>web.classes.EditClassText</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObjectCount</servlet-name>
    <servlet-class>web.objects.ObjectCount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PredList</servlet-name>
    <servlet-class>web.PredList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObjList</servlet-name>
    <servlet-class>web.ObjList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObjectQuery</servlet-name>
    <servlet-class>web.objects.ObjectQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassAutoComplete</servlet-name>
    <servlet-class>web.classes.ClassAutoComplete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObjectAutoComplete</servlet-name>
    <servlet-class>web.objects.ObjectAutoComplete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PredAutoComplete</servlet-name>
    <servlet-class>web.triples.PredAutoComplete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>web.objects.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProperty</servlet-name>
    <url-pattern>/AddProperty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClassText</servlet-name>
    <url-pattern>/EditClassText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClassName</servlet-name>
    <url-pattern>/EditClassName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeedSearch</servlet-name>
    <url-pattern>/SeedSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProperty</servlet-name>
    <url-pattern>/AddProperty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddObject</servlet-name>
    <url-pattern>/AddObject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectPage</servlet-name>
    <url-pattern>/ObjectPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditObject</servlet-name>
    <url-pattern>/EditObject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassPage</servlet-name>
    <url-pattern>/ClassPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClass</servlet-name>
    <url-pattern>/EditClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditObjectText</servlet-name>
    <url-pattern>/EditObjectText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditObjectName</servlet-name>
    <url-pattern>/EditObjectName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTriple</servlet-name>
    <url-pattern>/AddTriple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClassList</servlet-name>
    <url-pattern>/EditClassList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSuper</servlet-name>
    <url-pattern>/EditSuper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTriple</servlet-name>
    <url-pattern>/DeleteTriple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteObjCla</servlet-name>
    <url-pattern>/DeleteObjCla</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectCount</servlet-name>
    <url-pattern>/ObjectCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PredList</servlet-name>
    <url-pattern>/PredList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjList</servlet-name>
    <url-pattern>/ObjList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectQuery</servlet-name>
    <url-pattern>/ObjectQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassAutoComplete</servlet-name>
    <url-pattern>/ClassAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObjectAutoComplete</servlet-name>
    <url-pattern>/ObjectAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PredAutoComplete</servlet-name>
    <url-pattern>/PredAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>